@charset "utf-8";
@charset "utf-8";
html, body, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption{
	margin:0;
	border:0;
	outline:0;
	
}
.Global{
	background-color:#000000;
}
.Encabezado{
	color:ffffff;
	background-color:#f4d000;
	height:56px;/*130*/
	width:100%;
}
.Nombre{
	float:left;
	margin-top:25px;
	color:#FFFFFF;
}
.Logos{
	float:right;
	margin-top:25px;
}
.Menu{
	background-color:#2a2a2a;
	height:40px;
	border-bottom:#f4d000 solid 8px;
}
.MenuOff{
	height:100%;
	width:200px;
	display:inline-block;
	color:#FFFFFF;
}
.MenuOn{
	background-color:#f4d000;
	width:200px;
	display:inline-block;
	padding-top:11px;
	padding-bottom:11px;
}
.Banner{
	width:80%;
	padding-top:25px;
	padding-bottom:5px;
}
.Cuerpo{
	color:white;
	min-height:490px;
	max-height:100%;
}
.PiePagina{
	background-color:#f4d000;
	padding-top:5px;
	padding-bottom:5px;
	color:#7d7c7c;
}
.LineasSeparacion{
	width:100%;
	border-top:#f4dd42 solid 3px;
	border-bottom:#f4dd42 solid 3px;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:30px;
}
.LineasSup{
	width:100%;
	border-top:#f4dd42 solid 3px;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:30px;
}
.LineasInf{
	width:100%;
	border-bottom:#f4dd42 solid 3px;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:30px;
}
.ContenedorCuadros{
	margin-top:10px;
	margin-bottom:10px;
}
.Cuadros{
	padding-left:15px;
	padding-right:15px;
	display:inline-block;
	width:300px;
}
.TituloCuadros{
	font-size:23px;
}

.CuadrosX2{
	padding-left:15px;
	padding-right:15px;
	display:inline-block;
	width:600px;
}
.CopyRigth{
	color:#FFFFFF;
	padding-top:10px;
	padding-bottom:10px;
}