@charset "utf-8";
@charset "utf-8";
html, body, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption{
	margin:0;
	border:0;
	outline:0;
	
}
.MenuOff{
	height:100%;
	width:200px;
	display:inline-block;
	color:#FFFFFF;
}
.MenuOn{
	background-color:#f4d000;
	width:200px;
	display:inline-block;
	padding-top:11px;
	padding-bottom:11px;
}
.PiePagina{
	background-color:#f4d000;
	padding-top:5px;
	padding-bottom:5px;
	color:#7d7c7c;
}
.LineasSeparacion{
	width:100%;
	border-top:#f4dd42 solid 3px;
	border-bottom:#f4dd42 solid 3px;
	padding-top:10px;
	padding-bottom:10px;
}